<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <connectionStrings>
    
    <!-- Do not change name field.  Only change connectionString field -->

    <!-- System Settings -->
    <add name="ipAddressAB" connectionString="192.168.1.50"/>     <!-- IP address of the AB PLC -->
    <add name="pathAB" connectionString="1, 0"/>                  <!-- (1-Backplane, 2-ControlNet/Ethernet, DH+ Channel A, DH+ChannelB, 3-Serial); (slot#)-->

    <!-- CNC1 Settings -->
    <add name="tagCNC1" connectionString="Integrex1"/>             <!-- Controller tag name used in the AB PLC -->
    <add name="ipAddressCNC1" connectionString="192.168.1.100"/>   <!-- IP address of the CNC -->
    <add name="magSize1" connectionString="80"/>                   <!-- Maximum number of tools in the CNC magazine -->

    <!-- CNC2 Settings -->
    <add name="tagCNC2" connectionString="VCS1"/>                  <!-- Controller tag name used in the AB PLC -->
    <add name="ipAddressCNC2" connectionString="192.168.1.101"/>   <!-- IP address of the CNC -->
    <add name="magSize2" connectionString="80"/>                   <!-- Maximum number of tools in the CNC magazine -->

    <!-- CNC3 Settings -->
    <add name="tagCNC3" connectionString="QTN2"/>                  <!-- Controller tag name used in the AB PLC -->
    <add name="ipAddressCNC3" connectionString="192.168.1.102"/>   <!-- IP address of the CNC -->
    <add name="magSize3" connectionString="80"/>                   <!-- Maximum number of tools in the CNC magazine -->

    <!-- CNC4 Settings -->
    <add name="tagCNC4" connectionString="VCS2"/>                  <!-- Controller tag name used in the AB PLC -->
    <add name="ipAddressCNC4" connectionString="192.168.1.103"/>   <!-- IP address of the CNC -->
    <add name="magSize4" connectionString="80"/>                   <!-- Maximum number of tools in the CNC magazine -->

  </connectionStrings>
  
</configuration>
